<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 text-align:center" >
<h1 style="text-align: center">Articles listing page</h1>
<% if logged_in? %>
<div class="text-center mt-4">
<%= button_to "Create an Article", new_article_path, method: :get, class: "btn btn-outline-info" %>
</div>
<% end %>
<div class="text-center mt-4">
<div class="flickr_pagination">
   <%= will_paginate @articles, :container => false %>
</div>
</div>
<%= render 'article' %>
<div class="flickr_pagination mb-4">
   <%= will_paginate @articles, :container => false %>
</div>
</div>
