<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
<div class="container">
<h2>Home Page</h2>
<%= button_to 'Go to Articles', articles_path, method: :get %>
<button class="btn btn-default">
<%= button_to 'Sign Up!', signup_path, method: :get %>
</button>
<button class="btn btn-success">Anda Bootstrap</button>

</div>
</div>