<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
<h1 class="text-center mt-4">Edit a category</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'form' %>
        </hr>
        <%= link_to '[ Cancel and return to category ]', category_path(@category), class: "text-info" %>
    </div>
   </div>
</div> 
</div>